<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<!----->
<!--Main Site-->

<!--first-->
<section class="bg-image d-flex justify-content-center align-items-center">
  <div class="mask">
    <h4 >“Anyone who stops learning is old, whether at twenty or eighty.<br/> Anyone who keeps learning stays young.<br/> The greatest thing in life is to keep your mind young.”<br/>
      – Henry Ford</h4>  
  </div>
</section>

<!--end first-->
<hr>
 <!-- Icons -->
 <section class="features-icons text-center">
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-muted mb-5" id="skills">Personal skills</h2>
    </div>
</div>
  <div class="container">
      <div class="row">
          <div class="col-lg-2">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                        <i class="fas fa-graduation-cap m-auto"></i>
                  </div>
                  <h4 class="text-muted"><%= w %></h4>
                  <p class="lead mb-0 text-muted"></p>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex">
                    <i class="fas fa-user-md m-auto"></i>
                  </div>
                  <h4 class="text-muted"><%= w2 %></h4>
                  <p class="lead mb-0 text-muted"></p>
              </div>
          </div>
          <div class="col-lg-2">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-users m-auto"></i>
          </div>
          <h4 class="text-muted"><%= w3 %></h4>
          <p class="lead mb-0 text-muted"></p>
      </div>
  </div>
  <div class="col-lg-2">
    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        <div class="features-icons-icon d-flex">
          <i class="fas fa-pencil-ruler m-auto"></i>
        </div>
        <h4 class="text-muted"><%= w4 %></h4>
        <p class="lead mb-0 text-muted"></p>
    </div>
</div>
<div class="col-lg-2">
  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      <div class="features-icons-icon d-flex">
        <i class="fas fa-skating m-auto"></i>
      </div>
      <h4 class="text-muted"><%= w5 %></h4>
      <p class="lead mb-0 text-muted"></p>
  </div>
</div>
<div class="col-lg-2">
  <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      <div class="features-icons-icon d-flex">
        <i class="fas fa-business-time m-auto"></i>
      </div>
      <h4 class="text-muted"><%= w6 %></h4>
      <p class="lead mb-0 text-muted"></p>
  </div>
</div>
  </div>
  </div>
  </section>
<hr>
<section class="text-center" id='about'>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-muted mb-5">About</h2>
    </div>
</div>

<div class="container">
<!--<a href="/add-user" class="btn  btn-outline btn-floating" >
                      <i class="fas fa-pencil-alt"></i></span>
                    </a>-->
        <!-- form handing-->
        <form action="/" method="POST">
          <div class="table-responsive">
          <table class="table ">
            <thead >
                <tr >
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">@Email</th>
                    <th scope="col">Programming languages and programs</th>
                    <th scope="col">Graphics, design, multimedia</th>
                    <th scope="col">Another skills</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>          
                </tr>
            </thead>
            <tbody>
              <%-include('include/_show')%>
            </tbody>
        </table>
      </div>
        </form>
        
    </div>
  
<!-- /form end -->

   
     
 

</section>
<hr>

<section class="text-center" id='projects'>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-muted mb-5" >My Projects </h2>
        
    </div>
</div>



  <div class="row">
    <div class="col-lg-6">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img
          src="https://cdn.pixabay.com/photo/2018/01/14/15/53/hamburg-3082070_960_720.jpg"
          class="img-fluid"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">scaleup.ee</h5>
       
        <a href="https://scaleup.ee" class="btn btn-light" data-mdb-ripple-color="dark" target="_blank">Button</a>
      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img
          src="https://cdn.pixabay.com/photo/2020/02/03/00/12/fiber-4814456_960_720.jpg"
          class="img-fluid"
        />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">baltics.prysmiangroup.com</h5>
       
        <a href="https://baltics.prysmiangroup.com/" class="btn btn-light" data-mdb-ripple-color="dark" target="_blank">Button</a>
      </div>
    </div>

  </div>
  </div>



</section>
<hr>
<!--/end of Main Site-->
<!----->

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->




